page-inventory-list {
  .title {
    margin-top: 20px;
    margin-bottom: 20px;
    text-align: center;
  }

  .table_labels {
    text-align: center;
  }

  .quantity {
    text-align: center;
    position: relative;
    transform: translateY(-50%);
    margin-top: 9px;
  }

  .item-divider{
    margin-bottom: 20px;
    background-color: #11c1f3 ;
    color: white;
  }

  .zero_button {
    margin: 0 !important;
    height: inherit !important;
    color: #292424;
    background-color: rgba(253, 0, 0, 0);
    box-shadow: 0 2px 2px 0 rgba(0, 0, 0, 0), 0 3px 1px -2px rgba(0, 0, 0, 0), 0 1px 5px 0 rgba(0, 0, 0, 0);
  }

  @media screen and (orientation:portrait) {
    .input_field {
      margin-top: 30px;
      margin-bottom: 30px;
      margin-right: 5px;
    }
  }

  @media screen and (orientation:landscape) {
    .input_field {
      margin-bottom: 20px;
    }
  }
}
